openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW TeamSync Web API'
  description: 'Web Resources Specification (A7) for TeamSync'

servers:
- url: http://lbaw23117.lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw23117/-/wikis/home/EAP.md

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Individual Profile'
  - name: 'M03: Projects'
  - name: 'M04: Tasks'
  - name: 'M05: Search'

##################     LOG IN     ##################

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                  format: email
                password:    # <!--- form field name
                  type: string
                  format: password
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page.'
                  value: '/home'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
 

##################     LOG OUT     ##################


  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM'
      tags:
        - 'M01: Authentication'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to landing page.'
                  value: '/index'



##################     REGISTER     ##################


  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show Sign-Up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
              required:
                - name
                - username
                - email
                - password
                - confirm_password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful registration. Redirect to home page.'
                  value: '/home'
                302Failure:
                  description: 'Failed registration. Redirect to register form.'
                  value: '/register'


##################     PROFILE     ##################

  /profile/{id}:
    get:
      operationId: R201
      summary: 'R201: View user profile'
      description: 'Show the individual user profile. Access: USR, ADM'
      tags:
        - 'M02:Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'
        '302':
          description: 'Redirect if user is not logged in or user does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'
                  
##################     EDIT PROFILE     ##################

  /edit-profile/{id}:
    get:
      operationId: R202
      summary: 'R202: Edit user profile form'
      description: 'Provide edit user profile form. Access: USR, ADM'
      tags:
        - 'M02:Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show edit profile UI'
        '302':
          description: 'Redirect if user is not logged in or user does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'

    put:
      operationId: R203
      summary: 'R203: Update user profile'
      description: 'Processes the edit user profile form submission. Access: USR, ADM'
      tags:
        - 'M02:Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
              required:
                - name
                - username
                - email
      responses:
        '302':
          description: 'Redirect after processing the updated user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to profile page.'
                  value: '/profile/{id}'
                302Failure:
                  description: 'Failed update. Redirect to edit profile form.'
                  value: '/edit-profile/{id}'

##################     PROJECT     ##################

  /project/create:
    get:
      operationId: R301
      summary: 'R301: Create project form'
      description: 'Provide create project form. Access: USR, ADM'
      tags:
        - 'M03: Projects'
      responses:
        '200':
          description: 'Ok. Show create project UI'
        '302':
          description: 'Redirect if user is not logged in.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/login'

    post:
      operationId: R302
      summary: 'R302: Create project'
      description: 'Processes the create project form submission. Access: USR, ADM'
      tags:
        - 'M03: Projects'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                finish_date:
                  type: string
              required:
                - title
                - description
      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to project page.'
                  value: '/project/{project_id}'
                302Failure:
                  description: 'Failed creation. Redirect to create project form.'
                  value: '/project/create'

  /project/{project_id}:
    get:
      operationId: R303
      summary: 'R303: View project'
      description: 'Show the individual project. Access: USR, ADM'
      tags:
        - 'M03: Projects'
      parameters:
        - in: path
          name: project_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show view project UI'
        '302':
          description: 'Redirect if user is not logged in or project does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'

    
  /project/{project_id}/members:
    get:
      operationId: R304
      summary: 'R304: View project members'
      description: 'Show all project members. Access: USR, ADM'
      tags:
        - 'M03: Projects'
      parameters:
        - in: path
          name: project_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show view project members UI'
        '302':
          description: 'Redirect if user is not logged in or project does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'
                  
  
  /project/{project_id}/adduser:
    get:
      operationId: R305
      summary: 'R305: View non project members'
      description: 'Show all non project members. Access: USR, ADM'
      tags:
        - 'M03: Projects'
      parameters:
        - in: path
          name: project_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show view project members UI'
        '302':
          description: 'Redirect if user is not logged in or project does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'
                  
                  
    
    post:
      operationId: R306
      summary: 'R306: Add user to project'
      description: 'Processes the add user to project submission. Access: USR, ADM'
      tags:
        - 'M03: Projects'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                project_id:
                  type: integer
                user_id:
                  type: integer
      responses:
        '302':
          description: 'Redirect after processing the new project member.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful addition. Redirect to project members page.'
                  value: '/project/{project_id}/members'
                302Failure:
                  description: 'Failed addition. Redirect to non project members page.'
                  value: '/project/{project_id}/adduser'
   
                  
                  
##################     TASK     ##################

  /project/{project_id}/task/create:
    get:
      operationId: R401
      summary: 'R401: Create task form'
      description: 'Provide create task form. Access: USR, ADM'
      tags:
        - 'M04: Tasks'
      parameters:
        - in: path
          name: project_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show create task UI'
        '302':
          description: 'Redirect if user is not logged in or project does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/login'

    post:
      operationId: R402
      summary: 'R402: Create task'
      description: 'Processes the create task form submission. Access: USR, ADM'
      tags:
        - 'M04: Tasks'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                finish_date:
                  type: string
                priority:
                  type: string
              required:
                - title
                - description
                - priority
                
      responses:
        '302':
          description: 'Redirect after processing the new task information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to task page.'
                  value: '/task/{task_id}'
                302Failure:
                  description: 'Failed creation. Redirect to create task form.'
                  value: '/project/{project_id}/task/create'

  /task/{task_id}:
    get:
      operationId: R403
      summary: 'R403: View task'
      description: 'Show the individual task. Access: USR, ADM'
      tags:
        - 'M04:Tasks'
      parameters:
        - in: path
          name: task_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show view task UI'
        '302':
          description: 'Redirect if user is not logged in or task does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'

  /task/{task_id}/edit:
    get:
      operationId: R404
      summary: 'R404: Edit task form'
      description: 'Provide edit task form. Access: USR, ADM'
      tags:
        - 'M04: Tasks'
      parameters:
        - in: path
          name: task_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show edit task UI'
        '302':
          description: 'Redirect if user is not logged in or task does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'

    patch:
      operationId: R405
      summary: 'R405: Update task'
      description: 'Processes the edit task form submission. Access: USR, ADM'
      tags:
        - 'M04: Tasks'
      parameters:
        - in: path
          name: task_id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                finish_date:
                  type: string
                priority:
                  type: string
                 
              required:
                - title
                - description
                - priority
                
      responses:
        '302':
          description: 'Redirect after processing the updated task information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to task page.'
                  value: '/task/{task_id}'
                302Failure:
                  description: 'Failed update. Redirect to edit task form.'
                  value: '/task/{task_id}/edit'
    
  /task/complete:
    patch:
      operationId: R406
      summary: 'R406: Complete Task'
      description: 'When a task is completed'
      tags:
        - 'M04: Tasks'
      parameters:
        - name: complete
          in: query
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                task_id:
                  type: integer
      responses:
        '200':
          description: Successful operation

  /search-projects:
    post:
      operationId: R501
      summary: 'R501: Search Project'
      description: 'Search for a project in all the public projects.'
      tags:
        - 'M05: Search'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
              required:
                - title
                - description
      responses:
        '302':
          description: 'Redirect after processing the projects that match the input.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to task page.'
                  value: '/projects'
                302Failure:
                  description: 'Failed creation. Redirect to create task'