openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW TeamSync Web API'
  description: 'Web Resources Specification (A7) for TeamSync'

servers:
- url: http://lbaw23117.lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw23117/-/wikis/home/EAP.md

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Works'
  - name: 'M03: Reviews and Wish list'
  - name: 'M04: Loans'
  - name: 'M05: User Administration and Static pages'

##################     LOG IN     ##################

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M02: Individual Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                  format: email
                password:    # <!--- form field name
                  type: string
                  format: password
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page.'
                  value: '/home'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
 

##################     LOG OUT     ##################


  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM'
      tags:
        - 'M02: Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to landing page.'
                  value: '/index'



##################     REGISTER     ##################


  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Sign-Up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
              required:
                - name
                - username
                - email
                - password
                - confirm_password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful registration. Redirect to home page.'
                  value: '/home'
                302Failure:
                  description: 'Failed registration. Redirect to register form.'
                  value: '/login'


##################     PROFILE     ##################

  /profile/{id}:
    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'
        '302':
          description: 'Redirect if user is not logged in or user does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'
                  
##################     EDIT PROFILE     ##################

  /edit-profile/{id}:
    get:
      operationId: R107
      summary: 'R107: Edit user profile form'
      description: 'Provide edit user profile form. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show edit profile UI'
        '302':
          description: 'Redirect if user is not logged in or user does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'

    put:
      operationId: R108
      summary: 'R108: Update user profile'
      description: 'Processes the edit user profile form submission. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
              required:
                - name
                - username
                - email
      responses:
        '302':
          description: 'Redirect after processing the updated user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to profile page.'
                  value: '/profile/{id}'
                302Failure:
                  description: 'Failed update. Redirect to edit profile form.'
                  value: '/edit-profile/{id}'

##################     PROJECT     ##################

  /project/create:
    get:
      operationId: R109
      summary: 'R109: Create project form'
      description: 'Provide create project form. Access: USR, ADM'
      tags:
        - 'M02: Works'
      responses:
        '200':
          description: 'Ok. Show create project UI'
        '302':
          description: 'Redirect if user is not logged in.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/login'

    post:
      operationId: R110
      summary: 'R110: Create project'
      description: 'Processes the create project form submission. Access: USR, ADM'
      tags:
        - 'M02: Works'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                project_name:
                  type: string
                project_description:
                  type: string
              required:
                - project_name
      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to project page.'
                  value: '/project/{project_id}'
                302Failure:
                  description: 'Failed creation. Redirect to create project form.'
                  value: '/project/create'

  /project/{project_id}:
    get:
      operationId: R111
      summary: 'R111: View project'
      description: 'Show the individual project. Access: USR, ADM'
      tags:
        - 'M02: Works'
      parameters:
        - in: path
          name: project_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show view project UI'
        '302':
          description: 'Redirect if user is not logged in or project does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'
                  
##################     TASK     ##################

  /project/{project_id}/task/create:
    get:
      operationId: R113
      summary: 'R113: Create task form'
      description: 'Provide create task form. Access: USR, ADM'
      tags:
        - 'M02: Works'
      parameters:
        - in: path
          name: project_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show create task UI'
        '302':
          description: 'Redirect if user is not logged in or project does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/login'

    post:
      operationId: R114
      summary: 'R114: Create task'
      description: 'Processes the create task form submission. Access: USR, ADM'
      tags:
        - 'M02: Works'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                task_name:
                  type: string
                task_description:
                  type: string
              required:
                - task_name
      responses:
        '302':
          description: 'Redirect after processing the new task information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to task page.'
                  value: '/task/{task_id}'
                302Failure:
                  description: 'Failed creation. Redirect to create task form.'
                  value: '/project/{project_id}/task/create'

  /task/{task_id}:
    get:
      operationId: R115
      summary: 'R115: View task'
      description: 'Show the individual task. Access: USR, ADM'
      tags:
        - 'M02: Works'
      parameters:
        - in: path
          name: task_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show view task UI'
        '302':
          description: 'Redirect if user is not logged in or task does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'

  /task/{task_id}/edit:
    get:
      operationId: R116
      summary: 'R116: Edit task form'
      description: 'Provide edit task form. Access: USR, ADM'
      tags:
        - 'M02: Works'
      parameters:
        - in: path
          name: task_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show edit task UI'
        '302':
          description: 'Redirect if user is not logged in or task does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failed.'
                  value: '/'

    patch:
      operationId: R117
      summary: 'R117: Update task'
      description: 'Processes the edit task form submission. Access: USR, ADM'
      tags:
        - 'M02: Works'
      parameters:
        - in: path
          name: task_id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                task_name:
                  type: string
                task_description:
                  type: string
              required:
                - task_name
      responses:
        '302':
          description: 'Redirect after processing the updated task information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to task page.'
                  value: '/task/{task_id}'
                302Failure:
                  description: 'Failed update. Redirect to edit task form.'
                  value: '/task/{task_id}/edit'

##################     API     ##################


  /api/works:
    get:
      operationId: R202
      summary: 'R202: Search Works API'
      description: 'Searches for works and returns the results as JSON. Access: PUB.'

      tags: 
        - 'M02: Works'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: item
          description: Category of the works
          schema:
            type: string
          required: false
        - in: query
          name: loaned
          description: Boolean with the loaned flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: owner
          description: Boolean with the owner flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the work classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    obs:
                      type: string
                    year:
                      type: string
                    owner:
                      type: string
                    type:
                      type: string
                example:
                  - id: 1
                    title: Rihanna - Unapologetic
                    obs: Good pop music album.
                    year: 2012
                    owner: Joana Lima
                    type: MP3
                  - id: 15
                    title: Mr. Bean
                    obs: The best comedy movie.
                    year: 1995
                    owner: Manuel Teixeira
                    type: DVD
