#projects-container {
    width: 1200px; 
    margin: auto;
    margin-top: 2vw;
    padding: 20px;
    height: 90vh;
}

#projectSearch {
    padding: 0.4em 1em;
    font-size: 1.8em;
}

.search-bar {
    margin-bottom: 20px;
    position: fixed;
    top: 5vw;
    margin: auto;
    z-index: 1;
    position: fixed;
}

.pagination-container{
    margin: auto;
    z-index: 1;
}

.project-title {
    color:#303030;
    text-align: center;
    height: 50%;
    overflow: ellipsis;
}
.projects-title {
    text-align: center;
}

.project-deadline::before {
    content: 'Deadline: ';
    font-weight: bold;
}

.project-coordinator::before {
    content: 'Coordinatior:';
    font-weight: bold;
}

#projectSearch {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); 
    max-width: 100%;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 20px 2px;
    width: 100%;
    height: 85%;
}

.projects-list > * {
    flex-basis: calc(25% - 10px); 
    margin: 5px;
    width: 100%; 
}

.project-item {
    background: rgba(231, 231, 231, 1); 
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 0.7vw;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.project-item:hover {
    transform: rotateY(180deg);
}

.project-link {
    text-decoration: none; 
    color: inherit; 
    min-width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Projects .project-link p {
    overflow-wrap: break-word;
    overflow: hidden;
    height: fit-content;
}

.project-link > * {
    width: 100%;
    height: 100%;
    gap: 1vw;
}

.project-title, .project-description, .project-info {
    text-align: center;
    padding: 5px 10px;
}

.project-description {
    display: hidden;
}

.project-info {
    font-size: 0.8vw;
    color: #303030;
}

.pagination-container {
    text-align: center;
}


.pagination-container .btn {
    background-color: #4248ab;
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: 0.7vw;
    border-radius: 0.7vw;
}

.pagination-container .btn:hover {
    background-color: #353989;
}

.btn{
    cursor: pointer;
    justify-content: center;
}

.pagination-container span {
    display: inline-block;
    margin: 0 10px;
}

.project-content{
    backface-visibility: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-details{
    font-size: 1.2vw;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background: rgba(231, 231, 231, 1);
    width: 100%;
    height: 100%;
    padding: 15px;
    z-index: 2;
}

.project-details>*{
    color: #303030;
}

.project-content, .project-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1vh;
    border-radius: 0.7vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}



@media screen and (max-width: 768px) {
    #projects-container {
        margin-top: 9em;
        height: auto;
    }
    .project-item {
        margin: 5px;
        width: 100%; 
    }
    #projects-container .project-link {
        min-width: 48%;
        height: 24em;
        margin: 0;
    }
    #projects-container .projects-list {
        gap: 0;
    }
    .project-info {
        font-size: 1.2vw;
        margin: 0;
    }
    .projects-title {
        font-size: 2em;
    }
    .projects-list .project-title{
        font-size: 180%;
        height: auto;
        margin-bottom: 0.5em;
    }
    .projects-list .project-info{
        font-size: 140%;
    }
    .project-item .project-description {
        font-size: 2em;
    }
    .pagination-container span {
        font-size: 150%;
    }
    .pagination-container .btn {
        font-size: 1.4em;
        height: fit-content;
        width: 5em;
    }
}

@media screen and (max-width: 500px) {
    .project-link {
        width: 97%;
    }

    .project-info {
        font-size: 1.6vw;
    }

    .project-title {
        font-size: 3.2vw;
    }

    .pagination-container {
        margin-top: 4vw;
    }
}
