body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: 'Roboto', sans-serif;
}

.btn.btn-success {
    background-color: #543CE7;

}

.btn.btn-success:hover {
    background-color: #543CE7;
}

.close {
    background-color: #543CE7;
}

.close:hover {
    background-color: #543CE7;

}