/* Styling for createTask form */
#createTask {
    width: 50%;
    margin: 1vw auto;
    padding: 1vw;
}

.createTaskForm {
    display: flex;
    flex-direction: column;
}

h4 {
    text-align: center;
    color: #333;
}

label {
    margin-top: 1vw;
}

input,
textarea,
select {
    margin-bottom: 10px;
    padding: 0.6vw;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}

#createTaskButton {
    background-color: #303030;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0.7vw;
    width: 40%;
    margin: auto;
}

#createTaskButton:hover {
    background-color: #454545;
}

textarea {
    resize: none;
}

#priority {
    background-color: #fff;
    margin-bottom: 3vw;
}