#ProjectPage .modal-lg {
    max-width: 50%;
    margin: auto;
    margin-top: 15vh;
}

.modal-bottom{
    display: flex;
}

.modal-left {
    width: 70%;
}

.user-list-modal {
    height: 32vh;
    overflow-y: auto;
}

.modal-title {
    font-size: 2rem;
    font-weight: 600;
}

.modal-second-title {
    font-size: 1.6rem;
    font-weight: 600;
}

#ProjectPage .modal-top-button {
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
}

.modal-rounded-picture {
    border-radius: 100%;
}

.modal-username {
    font-size: 1.4rem;
    margin-left: 1rem;
}

.modal-body .modal-simple-text {
    font-size: 1.4rem;
}

.modal-body .modal-textarea {
    resize: none;
    font-size: 1.4rem;
}

.modal-body .modal-bottom-button {
    font-size: 1.6rem;
    font-weight: 600;
    width: 8em;
    margin-top: 2rem;
    height: fit-content;
}

.contextual-help {
    width: 30%;
    padding: 2rem;
    background-color: #f8f9fa;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.contextual-help-container {
    margin-bottom: 4rem;
}

.contextual-help-container h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    letter-spacing: 1.4px;
}

.contextual-help-container p {
    font-size: 1.6rem;
    color: #666;
}

@media screen and (max-width: 1200px) {
    #ProjectPage .modal-lg {
        max-width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .modal-bottom {
        flex-direction: column;
    }
    .modal-left {
        width: 100%;
    }
    .contextual-help {
        width: 100%;
    }
    .contextual-help-container {
        margin-bottom: 1rem;
    }
}