header .navbar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1ps solid black;
    background-color: rgb(227, 233, 246);
    border-bottom: 1px solid black;
    padding: 1vw 0;
}

.navbar-img {
    width: 10vw;
    height: auto;
}
.navbar-list-ul {
    height: 100%;
    width: 50em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-list-ul li, .authnavbar-list-ul li {
    margin-bottom: 0;
}


.navbar-list-element {
    text-decoration: none;
    font-size: 1vw;
    font-weight: bold;
    color: #000000;
}

.navbar-logout {
    display: flex;
    align-items: center;
}

.navbar-logout-button {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#notifications-button:hover {
    transition: 0.3s ease-in-out;
}

#notifications-dropdown {
    display: none;
}

.dismiss-all-notis{
    margin: 1rem;
}

#notifications-dropdown.hide {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100rem;
    width: 40rem;
    padding: 4rem;
    background-color: rgb(227, 233, 246);
    display: flex;
    flex-direction: column;
    animation: 0.3s ease-out 0s 1 slideInFromRight;
}

#notifications-list{
    overflow-y: scroll;
}

#notifications-list::-webkit-scrollbar {
    width: 0.5vw;
}

.navbar button{
    border-radius: 50%;
    padding: 1vh;
    width: 5vh;
    height: 5vh;
    z-index: 1;
}

li.notification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;
    padding: 1vh;
    border-radius: 1vh;
    background-color: rgb(255, 255, 255);
}

li.notification  a{
    text-decoration: none;
    color: #333;
}

li.notification p{
    color: #333;
}

button.notification-deny:hover{
    background-color: #e74c3c;
    transition: 0.3s ease-in-out;
}

button.notification-dismiss:hover{
    background-color: #333;
    transition: 0.3s ease-in-out;
}

button.invite-accept:hover{
    background-color: #32de84;
    transition: 0.3s ease-in-out;
}




@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

#index-navbar {
    padding: 0.2em 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1ps solid black;
    background-color: #543CE7;
}

.navbar-register-button, .navbar-login-button {
    font-size: 1vw;
    font-weight: bold;
}

.navbar-register-button {
    padding: 0.5em 1.5em;
    color: #fff;
    border: 2px solid #E5B405;
    border-radius: 1em;
}

.navbar-login-button {
    padding: 0.5em 0;
    color: #DEDEDE;
}

.navbar-separator {
    color: #DEDEDE;
    font-size: 2rem;
}

.navbar-auth{
    display: flex;
    align-items: center;
    gap: 2em;
}

.authnavbar-list-ul {
    height: 100%;
    width: 30em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.authnavbar-list-element {
    text-decoration: none;
    font-size: 1.25vw;
    font-weight: bold;
    color: #DEDEDE;
}

@media screen and (max-width: 768px) {
    .navbar-img {
        width: 18vw;
    }
    .authnavbar-list-ul {
        width: 30vw;
    }
    .authnavbar-list-element {
        font-size: 130%;
    }
    .navbar-login-button, .navbar-separator, .navbar-register-button {
        font-size: 2vw;
    }
}
