.navbar {
    padding: 0.5em 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1ps solid black;
    background-color: rgb(227, 233, 246);
    border-bottom: 1px solid black;
}

.navbar-img {
    width: 10vw;
    height: auto;
}
.navbar-list-ul {
    height: 100%;
    width: 50em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-list-ul li, .authnavbar-list-ul li {
    margin-bottom: 0;
}

.navbar-list-element {
    text-decoration: none;
    font-size: 1vw;
    font-weight: bold;
    color: #000000;
}

.navbar-logout {
    display: flex;
    align-items: center;
}

.navbar-logout-button {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


#index-navbar {
    padding: 0.2em 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1ps solid black;
    background-color: #543CE7;
}

.navbar-register-button, .navbar-login-button {
    font-size: 1vw;
    font-weight: bold;
}

.navbar-register-button {
    padding: 0.5em 1.5em;
    color: #fff;
    border: 2px solid #E5B405;
    border-radius: 1em;
}

.navbar-login-button {
    padding: 0.5em 0;
    color: #DEDEDE;
}

.navbar-separator {
    color: #DEDEDE;
    font-size: 2rem;
}

.navbar-auth{
    display: flex;
    align-items: center;
    gap: 2em;
}

.authnavbar-list-ul {
    height: 100%;
    width: 30em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.authnavbar-list-element {
    text-decoration: none;
    font-size: 1.25vw;
    font-weight: bold;
    color: #DEDEDE;
}