#ProfilePage {
    display: flex;
    gap: 3em;
    background-color: rgba(231, 231, 231, 0.6);
    border-radius: 5px 5px 0 0;
    padding: 1.67vw;
    max-width: 80vw;
    width: 100%;
    margin: 0 auto; 
    margin-top: 4.5vw;
    color: #303030;
}

#fileInput {
    display: none;
}

.Profile-LeftSection {
    width: 30%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 2.4em;
    border-radius: 0.7vw 0 0 0;
}

.Profile-LeftSection img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 3em auto;
}

.profile-interests-skills {
    background-color: #4248ab;
    border-radius: 1em;
    padding: 2.2em 1.2em;
}

.profile-interests-skills h4 {
    color: #fff;
    text-align: left;
    margin-bottom: 0.5em;
}

#Interests {
    padding: 1em 0;
    margin-bottom: 2em;
    border-bottom: 1px solid #D0D0D0;
}

#Interests p, #Skills p {
    font-size: 1.2rem;
    color: #D0D0D0;
    margin-bottom: 0.8em;
}

.Profile-RightSection {
    width: 70%;
    background-color: rgba(231, 231, 231, 0.6);
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2.4em;
    border-radius: 0 0.7vw 0 0;
}

#ProfileInfo {
    display: flex;
    justify-content: space-between;
    background-color: #4248ab;
    padding: 2em 3em;
    border-radius: 0.7vw;
}

.profile-right-section-left {
    width: 50%;
}

.Profile-RightSection h4, h5, h6, p {
    color: #fff;
    margin: 0;
    margin-bottom: 0.2em;
}

.profile-info-span {
    color: #DEDEDE;
    font-size: 1.6rem;
}

#EditProfile button{
    font-size: 1rem;
    margin-top: 0.5em;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

#EditProfile button:hover{
    background-color: #DEDEDE;;
    border: 2px solid #000;
    color: #000;
    transition: ease-in-out 0.2s;
}

#Description {
    width: 50%;
}

#Projects {
    background-color: #fff;
    padding: 2.4em;
    border-radius: 0.7vw;
}

#Projects h4 {
    color: #000;
    font-size: 1.2vw;
    text-align: left;
    font-weight: bold;
    margin-bottom: 1em;
}

.project-link {
    padding: 1em;
}

#Projects li {
    height: 14vh;
    list-style-type: none;
    background: #454545;
    padding: 1em;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #333;
}

#ProjectTitle {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
}

#ProjectsList .ProjectDescription {
    font-size: 1.2rem;
}

#ProjectsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 45vh;
    overflow-y: auto;
}
#ProjectsList .project-element {
    height: 100%;
}
#ProjectsList p {
    height: 4vh;
}

#edit-page-content{
    width: 80%;
    margin: 0 auto;
    padding: 20px;  
    background: linear-gradient(to right, #3a3a41, #9d9ea8);
    border-radius: 5px;
    color: #f4f4f4;
    font-size: 16px;
    display: grid;
}

#edit-page-content form{
    grid-column: span 3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 25px;
}

input[type="text"], input[type="email"], input[type="password"]{
    background-color: #f4f4f4;
    border: none;
    border-radius: 0.5vw;
    padding: 1vw;
    color: #333;
}

textarea{
    background-color: #f4f4f4;
    border: none;
    border-radius: 0.5vw;
    padding: 1vw;
    color: #333;
    resize: none;
}

.skill label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.interest label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


div.skill, div.interest {
    background-color: #f4f4f4;
    color: #333;
    margin: 5px;
    border: #f4f4f4 0.1vw solid;
    border-radius: 0.5vw;
    padding: 0.5vw;
    font-weight: normal;
}

div.selected{
    border: #333 0.1vw solid;
}

#interests-list, #skills-list{
    height: 20vh;
    overflow-y: scroll;
    width: fit-content;
    background-color: #f4f4f4;
    padding: 0.5vw;
    border-radius: 1vw;
}

#interests-list::-webkit-scrollbar, #skills-list::-webkit-scrollbar{
    width: 10px;
}

input[value="Update Profile"]{
    background-color: transparent;
    border: #f4f4f4 0.1vw solid;
    border-radius: 0.5vw;
}

input[value="Update Profile"]:hover{
    background-color: #9d9ea8;
    color: #333;
    transition: ease-in-out 0.3s;
    border: #9d9ea8 0.1vw solid;
}