/* Adicione estilos específicos para a página do projeto */
.card {
    margin-bottom: 20px;
}

.card-header h2 {
    margin-bottom: 0;
}

.card-body {
    padding: 20px;
}

.row.mt-4 {
    margin-top: 20px;
}

/* Adicione estilos específicos para a seção de tarefas */
.card-body ul {
    list-style-type: none;
    padding: 0;
}

.card-body ul li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.card-body ul li h4 {
    margin-bottom: 5px;
}

/* Adicione estilos para quando não há tarefas no projeto */
.card-body p {
    font-style: italic;
    color: #888;
}
