header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#ProjectPage {
    background-image: url('/img/background.png');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    display: flex;
    width: 100%;
    padding-top: 2.7vw;
}

#ProjectInfo {
    display: flex;
    gap: 3em;
    background-color: rgba(231, 231, 231, 0.6);
    border-radius: 5px 5px 0 0;
    padding: 1.67vw;
    max-width: 80vw;
    width: 100%;
    margin: 0 auto; 
    margin-top: 4.5vw;
    color: #303030;
}

#Sidebar {
    width: 20vw;
    background-color: #ffffff;
    color: #000000;
    padding: 2vw;
    border-radius: 0.7vw;
    height: 100%;
    box-sizing: border-box;
}

#Sidebar>h1 {
    font-size: 1.6vw;
    margin-bottom: 1.2vw;
    text-align: center;
    border-bottom: #000 solid 0.1vw;
    padding: 0.5vw;
}

#Sidebar p , #projectForm label{
    display: block;
    font-size: 1vw;
    margin-bottom: 1vw;
    text-decoration: none;
    color: #000000;
    padding: 0.5vw;
    font-weight: inherit;
    margin-top: 0;
    border-radius: 0.5vw;
}

#Sidebar label:hover{
    background-color: #c4c4c4;
    transition: ease-in-out 0.2s;
}

#projectForm input[type="radio"]{
    display: none;
}

#projectForm>label.selected {
    border: #000 solid 0.1vw;
}

#MainContent {
    padding-left: 2vw; 
    width: 80vw;

}

#MainContent>*{
    display: none;
}

#MainContent .selected {
    display: block;
    border: none;
}


#Sidebar .title-line {
    border-bottom: 1.5px solid #000000;
    margin-bottom: 3.5vw; 
}

#Sidebar>p {
    color: #fff;
    font-size: 0.9vw;
    background-color: #e83749;
    padding: 0.4vw 1vw;
    margin-top: 3.5vw;
    border-radius: 0.7vw;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-block;
    text-align: center;
    
}

#Sidebar #leaveProject{
    background: #d52536;
    border-radius: 0.7vw;
    color: #ffffff;
}

#Sidebar #leaveProject:hover {
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
    color: #d52536;
    border-width: 0.1vw;
    border-color: #d52536;
    border-style: solid;
}

#Tasks{
    grid-column: span 2;
    grid-row: span 2;
}

#Tasks ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5vw;
}

#Tasks li {
    list-style-type: none;
    background: #303030;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0.8vw;
    border-radius: 0.7vw;
    border: 1px solid #333;
    font-size: 0.6vw;
    letter-spacing: 0.02vw;
}

.TaskTitle {
    font-size: 1.2vw;
}

.TaskLabel {
    font-size: 1.5vw;
    color: #303030;
    margin-bottom: 0.2vw;
}

#line-before-tasks {
    border-top: 1px solid #000;
    margin-top: 1.5vw;
}


#ProjectDeadline, #ProjectDescription , #MembersCounter, #ActiveTasks{
    width: 100%;
    font-size: 1vw;
    color: #303030;
    display: flex;
    justify-content:flex-start;
}

h2{
    font-size: 1.5vw;
    color: #303030;

}

#CreateTaskButton {
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 0.7vw;
    cursor: pointer;
    display: inline-block;
    width: 30%;
    font-size: 0.8vw;
    margin-top: -5vw;
    padding: 0.5vw;
    text-align: center;
}

#CreateTaskButton:hover,
#InviteUserButton:hover {
    background-color: #454545;
}

.btn.btn-primary {
    font-size: 0.8vw;
    color:#303030;
    right:0;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.7vw; 
}

.rounded-button {
    border-radius: 0.7vw; 
}

.add-user-list {
    margin: 0 auto;
}

#project-members-content {
    width: 70%;
    margin: 0 auto;
}

#project-members-content ul{
    column-gap: 1em;
    list-style: none;
    column-count: 2;
}

#project-members-content li {
    border: 1px solid #000;
    border-radius: 0.7vw;
    padding: 1em;
}

#project-members-content p {
    color: #000;
    font-size: 2rem;
    margin: 0;
}

#Dashboard p, #Members p {
    font-size: 1.5vw;
    color: #303030;
    margin-left: 1vw;
    line-height: normal;
}

