::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px;
}

#TaskContent {
    width: 70%;
}

.task-details {
    display: flex;
    justify-content: space-between;
    background-color: #2E3399;
    padding: 2em 3em;
    border-radius: 0.7vw;
}

#EditTaskDetailsButton {
    font-size: 1.2rem;
    margin-top: 0.5em;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

#EditTaskDetailsButton:hover{
    background-color: #DEDEDE;;
    border: 2px solid #000;
    color: #000;
    transition: ease-in-out 0.2s;
}

#Description p {
    font-size: 1.2rem;
}

.edit-task-details {
    width: 70%;
    text-align: center;
}

.edit-task-details label {
    text-align: left;
}

.edit-task-details #priority {
    margin-bottom: 2em;
}

.editTaskDetailsButton {
    display: inline-block;
    margin: auto;
}

#ProjectInfo .task-left-section {
    width: 35%;
    position: relative;
}

.task-left-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0.07vw;
    background-color: #303030;
    border-radius: 10px;
}

.go-back-section {
    display: flex;
    gap: 0.6vw;
}

.go-back-section h5 {
    color: #000;
    font-size: 1.1vw;
    font-weight: bold;
    margin: 0;
}

.task-info-span {
    color: #303030;
    font-size: 1.2vw;
    font-weight: bold;
}

#task-details {
    margin-top: 1.4vw;
}

#task-details h5 {
    margin-top: 0.7vw;
    color: #000000;
    font-size: 1.1vw;
}

.task-details-buttons {
    margin-top: 2vw;
    width: 24vw;
    display: flex;
    justify-content: space-between;
}

#task-details .task-details-buttons .task-details-button {
    margin: 0;
    background-color: #303030;
    width: 11vw;
    color: #FFF;
    font-size: 0.8vw;
    border: none;
    border-radius: 6px;
}

#task-description {
    margin-top: 1.8vw;
    width: 90%;
}

#task-description h5 {
    font-size: 1.4vw;
}

#task-description p {
    color: #000;
    letter-spacing: 0.2px;
    font-size: 1vw;
    text-align: justify;
}

#comments {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.comments-section {
    height: 69vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1vw 0 2vw 0;
}

.comments-section::-webkit-scrollbar {
    display: none;
}

.comment-form {
    display: flex;
    margin: 0;
    height: 3vw;
    margin-top: 2vh;
}

.comment-form textarea {
    resize: none;
    min-height: 3vw;
    border-radius: 5px 0 0 5px;
    font-size: 0.8vw;
}

#submit-comment-button {
    height: 100%;
    background-color: #3C5EE7;
    color: white;
    font-size: 0.8vw;
    border-radius: 0 5px 5px 0;
}

#submit-edit-comment-button {
    height: 100%;
    background-color: #3C5EE7;
    color: white;
    font-size: 0.8vw;
    border-radius: 0 5px 5px 0;
}

.comment {
    display: flex;
    width: 40vw;
    margin-top: 1vw;
    align-items: center;
}

.user-image {
    height: 4vw;
    width: 4vw;
    border-radius: 100px;
}

.comment-content {
    width: 70%;
}

.comment-content p {
    margin: 0.4vw 0 0 0;
    padding: 0.5vw 1vw;
    background-color: #FFF;
    color: #303030;
    font-size: 1vw;
    border-radius: 5px;
}

.comment-content h6 {
    color: #000;
    font-size: 0.7vw;
}

.comment-info-buttons {
    display: flex;
    justify-content: space-between;
}

.comment-buttons {
    display: flex;
    gap: 1.2vw;
}

.comment-manage-button {
    padding: 0;
    background-color: transparent;
    height: 1.2vw;
    font-size: 0.7vw;
}

.comment-manage-button:hover {
    background-color: transparent;
    color: #303030;
}


/* modal assign task */
.assign_task_member img {
    width: 50px;
    height: 50px;
}

.task-file-submit {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

@media screen and (max-width: 768px) {
    #ProjectPage .task-page-wrapper {
        flex-direction: column;
        margin-top: 9em;
    }
    #ProjectPage #Details {
        width: 100%;
        border-bottom: 1px solid #000;
    }
    .task-left-section::after {
        display: none;
    }
    .task-left-section h5 {
        font-size: 200%;
    }
    .task-info-span {
        font-size: 100%;
    }
    #task-details h5 {
        font-size: 200%;
    }
    #assignUserButton {
        font-size: 1.5em;
        font-weight: 600;
        height: fit-content;
        border-radius: 0.5em;
    }
    #task-description h5 {
        font-size: 200%;
    }
    #task-description p {
        font-size: 150%;
    }
    #comments {
        width: 100%;
    }
    #comments .comment .user-image {
        width: 6em;
        height: 6em;
    }
    .comments-section {
        height: 65vh;
    }
    .message-username {
        font-size: 200%;
    }
    .comment-content p {
        font-size: 140%;
    }
    .comment-info-buttons h6 {
        font-size: 100%;
    }
    .comment-manage-button {
        font-size: 100%;
    }
    .comment-form {
        margin-top: 0;
        height: 4em;
    }
    .comment-form textarea {
        font-size: 150%;
        width: 80%;
    }
    .comment-form #submit-comment-button {
        font-size: 150%;
        width: 20%;
    }
}
