#TaskContent {
    width: 70%;
}

.task-details {
    display: flex;
    justify-content: space-between;
    background-color: #2E3399;
    padding: 2em 3em;
    border-radius: 0.7vw;
}

#EditTaskDetailsButton {
    font-size: 1.2rem;
    margin-top: 0.5em;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

#EditTaskDetailsButton:hover{
    background-color: #DEDEDE;;
    border: 2px solid #000;
    color: #000;
    transition: ease-in-out 0.2s;
}

#Description p {
    font-size: 1.2rem;
}

.edit-task-details {
    width: 70%;
    text-align: center;
}

.edit-task-details label {
    text-align: left;
}

.edit-task-details #priority {
    margin-bottom: 2em;
}

.editTaskDetailsButton {
    display: inline-block;
    margin: auto;
}

.task-left-section {
    width: 35%;
    position: relative;
}

.task-left-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0.07vw;
    background-color: #303030;
    border-radius: 10px;
}

.go-back-section {
    display: flex;
    gap: 0.6vw;
}

.go-back-section h5 {
    color: #000;
    font-size: 1.1vw;
    font-weight: bold;
    margin: 0;
}

.task-info-span {
    color: #303030;
    font-size: 1.2vw;
    font-weight: bold;
}

#task-details {
    margin-top: 1.4vw;
}

#task-details h5 {
    margin-top: 0.7vw;
    color: #000000;
    font-size: 1.1vw;
}

.task-details-buttons {
    margin-top: 2vw;
    width: 24vw;
    display: flex;
    justify-content: space-between;
}

#task-details .task-details-buttons .task-details-button {
    margin: 0;
    background-color: #303030;
    width: 11vw;
    color: #FFF;
    font-size: 0.8vw;
    border: none;
    border-radius: 6px;
}

#task-description {
    margin-top: 1.8vw;
    width: 90%;
}

#task-description h5 {
    font-size: 1.4vw;
}

#task-description p {
    color: #000;
    letter-spacing: 0.2px;
    font-size: 1vw;
    text-align: justify;
}

#comments {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.comments-section {
    flex-grow: 1;
}

.comment-form {
    display: flex;
    margin: 0;
    height: 3vw;
}

.comment-form textarea {
    resize: none;
    min-height: 3vw;
    border-radius: 5px 0 0 5px;
    font-size: 0.8vw;
}

#submit-comment-button {
    height: 100%;
    background-color: #3C5EE7;
    color: white;
    font-size: 0.8vw;
    border-radius: 0 5px 5px 0;
}